.nav{
	background-color: black;
	color: white;
}
a{
	text-decoration: none;
	color: white;
}
body{
    background-image: url(image/book.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
aside{
	float: left;
}